.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: rgb(88, 172, 179);
}
.title {
  text-align: center;
  margin: 40px auto;
  font-size: 40px;
}
